<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
{% block head %}
    {% include "head.html" %}
{% endblock %}

<body>
    <div class="contaimer has-text-centered">
        <h1 class="title is-size-1">Sistema de Agendamentos</h1>
    </div>
    <section class="section has-backgroud-link-light">
        {% if object_list %}
        <div style="text-align: center;"> <h1 class="subtitle is-size-4">Produto Cadastrados</h1>
             <div class="table">
            <table class="table is-table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th class="has-text-center">Nome</th>
                    <th class="has-text-center">Preço</th>
                    <th class="has-text-center">Quantidade</th>
                </tr>
                </thead>
                <tbody>
                {% for produto in object_list %}
                    <tr>
                        <td>{{produto.nome}}</td>
                        <td>{{produto.preco}}</td>
                        <td>{{produto.quantidade}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
            {% else %}
            <h2> Não existem Produtos cadastrados!</h2>
            {% endif %}
        </div>
    </section>
</body>
</html>
